
.treatmentCard {
    display: flex;
    justify-content: space-between ;
    border-radius: .5em;
    padding: 1em;
    width: 70vw;
    border: .2em solid rgb(188, 136, 255);
    color: white;
}

.treatmentCard label{
    width: 95%;
    display: flex;
    justify-content: space-between;
}