
.specificDay{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em    ;
}

.specificDay h2{
    font-size: 2em;
}

.specificDay > span{
    font-size: 2em;
}
.dayDate {
    width: 60vw;
    background-color: rgb(188, 136, 255);
    padding: .5em;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
}

.dayDate span:first-child{
    font-weight: 500;
    color: black;
}

.dayDate span:last-child{
    color: rgb(73, 35, 125);
    font-weight: 800;
}